/* Global Styling */
body, html {
  height: 100vh;
  margin: 0;

  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  color: #666;

  /*setting for form on contact page */
  box-sizing: border-box;
}

h1 {
  color: #FFBF00;
  text-shadow: 5px 2px 4px #282D34;
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 7rem;
  letter-spacing: 0.3rem;
}

h2 {
  color: #FFBF00;
  text-shadow: 1px 1px 1px #282D34;
  margin: 0;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 1rem;
  
}

h3 {
  color: #FFBF00;
  text-shadow: 1px 1px 1px #282D34;
  margin: 0;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 3.5rem;
}

h4 {
  font-weight: lighter;
  font-size: 1.5rem;
}

h5 {
  color: #FFBF00;
  text-shadow: 1px 1px 1px #282D34;
  margin: 0;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}
  
a:hover {
  color: #FFBF00;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* Containers */

.container-fluid {
  padding: 1% 15%;
}


/* Title & Navigation Bar */

.title-nav-wrapper {
  width: 100vw;
  box-sizing: border-box;
  padding: 1% 5%;
  
  position: fixed; /* Position: fixed at top of browser window when scrolling */
  top: 0;
  z-index: 999; 
    
  display: flex;
  justify-content: flex-end;

  background-color: #282e34;
  color:  rgb(221, 221, 221);
  }
  
  /* Title Navigation Bar - float left */

  .title-nav-items {
    margin: 0;      /*removes default list structure*/
    padding: 0.3rem;    
    font-size: 1rem;
  }

  .title-nav-link {
    display: inline;
    text-align: center;
    margin-left: 1rem;
  }

/* Other Navigation Bars - centered */

.nav-items {
  text-decoration: none;
  margin: 0;  
  padding: 0.3rem;
  font-size: 1rem;
}
.centered-nav-list {
  display: inline;
  text-align: center;
  margin-left: 1rem;
}
.nav-link-dark {
  color: #666;
}
.nav-link-light {
  color: rgb(255, 255, 255);
}

/* Text Sections Formatting */
.section {
  text-align: center;
  background-color: rgba(221, 221, 221, 0);
}


.section-dark {
  background-color: #282e34;
  color: #ddd;
}

/* ================================================== Main Content =================================================== */

/* Home Section Images*/
.p-img1 {
  background-image: url("images/bg1.jpg");
  height: 94vh;  /* height within div */ 
  
  position: relative;  /* changes relative to normal place */
  background-attachment: fixed;       /* fixed: gives parallax effect, scroll: normal */  
  background-position: center;        /* image centered in div */
  background-repeat: no-repeat;       /* just one image in div */
  background-size: cover;             /* scales img as large as poss to fill container (may stretch) */
}


/* empty span to provide nav bar offset for # navigation */
.jump-to {
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: block;
}


/*  Home & Services text */
.about-text {
  position: absolute;  /* removed fr normal flow, positioned relative to closest positioned ancestor - p-img*/
  top: 20vh;
  width: 100%;
  z-index: 99;
    
  justify-content: center;
  text-align: center;

  line-height: 6rem;      
  text-transform: uppercase;
}



/* Home section contact and services button */

.button-holder {
  margin-top: 5rem; 
  margin-bottom: 2rem;
}

.contact-btn {
  color: #FFBF00;
  font-size: 1.125rem;
  background: #282e34;
  padding: 1rem 1.5rem ;
  margin: auto 0.5rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.contact-btn:hover {
  background: #FFBF00;
  color: #282e34;
  text-decoration: none;
}

.scroll-down-icon {
  padding-top: 0.5rem;
  width: 30px;
}

.services-img {
  max-width: 60vw;  
}

.p-img2 {
  background-image: url("images/bg1.jpg");
  height: 40vh;  

  position: relative;  
  background-attachment: fixed;       
  background-position: center;        
  background-repeat: no-repeat;      
  background-size: cover;    
}

.p-img3 {
  background-image: url("images/bg1.jpg");
  height: 30vh;  

  position: relative;  
  background-attachment: fixed;        
  background-position: center;        
  background-repeat: no-repeat;       
  background-size: cover; 
}


/* Contact Page Form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background: #282e34;
  color: #FFBF00;
  padding: 12px 20px;
  border: none;
  font-weight: bold;  
    cursor: pointer;
}
input[type=submit]:hover {
  background: #FFBF00;
  color: #282e34;
  
}
.form {
  border-radius: 5px;
  background-color: #ffffff;
  margin-top:20px;
  padding: 20px;
  max-width: 700px;
  margin: 20px auto 0 auto;
}


/* Footer */

.footer {
  text-align: center;
  font-size: 0.85rem;

  background-color: #282e34;
  color: rgb(221, 221, 221)
}

.contact-details-box {
  display: flex;
  justify-content: space-around;
}


/* Mobile - turn off parallax */

@media(max-width:568px){
  .p-img1 .p-img2 .p-img3{
    background-attachment: scroll;
  }

  .container-fluid {
    padding: 2% 5%;
  }

  .contact-details-box {
    display: flex;
    justify-content: space-between;
  }



}

@media(min-width:1200px){
  .container-fluid {
    padding: 1% 25%;
  }

}


