/* Global Styling */
body, html {
  height: 100vh;
  margin: 0;

  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  color: #666;

  /*setting for form on contact page */
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #FFBF00;
  margin: 0;
}

h2, h3 {
  font-weight: lighter;
  text-shadow: 1px 1px 1px #282D34;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}
  
a:hover {
  color: #FFBF00;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* ==================================  Containers ============================ */

.container-fluid {  /* see media queries for responsive changes */
  padding: 1% 15%;
}

.section {
  text-align: center;
  background-color: #282e34;
  color: #ddd;
}

.section-header {
  font-size: 2rem;
  line-height: 2.3rem;
}

/* =========================== Title & Navigation Bar ==========================*/

.top-nav-wrapper {
  width: 100vw;
  box-sizing: border-box;
  padding: 1% 5%;
  
  position: fixed; /* Position: fixed at top of browser window when scrolling */
  top: 0;
  z-index: 999; /* on top of absolute children */
    
  display: flex;
  justify-content: flex-end; /* float left */
  
  background-color: #282e34;
  color:  rgb(221, 221, 221);
  }

.nav-items {
  margin: 0;  /*removes default list structure*/
  padding: 0.3rem;    
  font-size: 1rem;
}

.nav-link {
  display: inline;
  text-align: center;
  margin-left: 1rem;
}

/* ===================================  Home  ================================== */

/* Vicotec h1 */
.main-heading {
  text-shadow: 5px 2px 4px #282D34;
  letter-spacing: 0.3rem;
  font-size: 16vmin;
  line-height: 16vmin;
}

/* Engineering h2 */
.second-heading {
  font-size: 10vmin;
  line-height: 10vmin;
}

/* Contact and services buttons */
.button-holder {
  margin-top: 5rem; 
  margin-bottom: 2rem;
}

.contact-btn {
  color: #FFBF00;
  font-size: 1.125rem;
  background: #282e34;
  padding: 1rem 1.5rem ;
  margin: auto 0.5rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.contact-btn:hover {
  background: #FFBF00;
  color: #282e34;
  text-decoration: none;
}

/* ====================================== Services  =================================== */

/* empty span to provide nav bar offset for # navigation // mobile issue - creates gap when scrolling */
.jump-to {
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: block;
}

.scroll-down-icon {
  padding-top: 0.5rem;
  width: 30px;
}

.about-text {
  position: absolute;  /* removed fr normal flow, posit relative to closest positioned ancestor - p-img*/
  top: 20vh;
  width: 100%;
  
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.services-img {    /* sizing is weird - fix */
  width: 70vw;
}

/* ================================= Parallax images ================================== */

.parallax {
  background-image: url("images/bg1.jpg");

  position: relative;  /* position changes relative to normal place */
  background-attachment: fixed;       /* fixed: gives parallax effect, scroll: normal */  
  background-position: center;        /* image centered in div */
  background-repeat: no-repeat;       /* just one image in div */
  background-size: cover;             /* scales img as large as poss to fill container (may stretch) */
}

.p-img1 {
  height: 94vh;  /* height within div */ 
}

.p-img2 {
  height: 30vh;     
}

.p-img3 {
  height: 30vh;   
}

/* ===================================== Enquiries ==================================== */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background: #282e34;
  color: #FFBF00;
  padding: 12px 20px;
  border: none;
  font-weight: bold;  
    cursor: pointer;
}

input[type=submit]:hover {
  background: #FFBF00;
  color: #282e34;
  
}
.form {
  border-radius: 5px;
  background-color: #ffffff;
  margin-top:20px;
  padding: 20px;
  max-width: 700px;
  margin: 20px auto 0 auto;
}

/* ====================================== Footer ===================================== */

.footer {
  text-align: center;
  font-size: 0.85rem;

  background-color: #282e34;
  color: rgb(221, 221, 221)
}

.contact-details-box {
  display: flex;
  justify-content: space-around;
}

.contact-details-header {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* ================================== Media Queries ================================== */

/* Mobile */
@media(max-width:650px){
  .parallax{
    background-attachment: scroll;
  }

  .container-fluid {
    padding: 2% 5%;
  }

  .contact-details-box {
    display: block;
  }

  .title-nav-wrapper {
    justify-content: center;
  }
}

/* Widescreen */
@media(min-width:1300px){
  .container-fluid {
    padding: 1% 20%;
  }

  h1 {
    font-size: 9rem;
  }
  
  h2 {
    font-size: 5.5rem;
  }

  .services-img {
    max-width: 750px;
  }
}
